<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
</head>
<body class="bg-dark">
    <%- include('partials/header.ejs')%>
    <div class="c-container">
        <div class="section-noscroll">
            <%- include('partials/profileHeader.ejs')%>
        </div>
            <a name="" id="" class="btn btn-primary" href="/deleteAccount">Delete account</a>
        <%- include ('partials/profileImgSettings.ejs')%>
    </div>

    <%- include('partials/footer.ejs')%>
</body>
</html>